/* http://www.toremar.it/mds/www/images/toremar/logo-moby.png
http://www.toremar.it/mds/www/images/toremar/logo-toremar.png 
http://www.traghettiweb.it/logo/cferries.gif
http://www.traghetti-elba.it/images/compagnie/blu-navy.jpg /*


/*
https://secure.traghettitalia.it/traghetti/images/loghi_compagnie_result/1.gif moby
https://secure.traghettitalia.it/traghetti/images/loghi_compagnie_result/2.gif toremar
https://secure.traghettitalia.it/traghetti/images/loghi_compagnie_result/3.gif blu-navy
https://secure.traghettitalia.it/traghetti/images/loghi_compagnie_result/4.gif elba ferries
*/



.onlyPedestrians{
    background: url("./img/no-cars.jpg") no-repeat;
    background-size : contain;
    background-position: center center;
}

.onlyPedestriansColumn{
    width: 30px;
}

div.debugMessage{
    color : white;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: xx-small;
}


div.companyLink {
    display : inline;
    text-align: center;
}


div.message{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
div.resultLen {
    display : inline;
    
}

div.footer{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
   
}

div.disclaimer{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: small;
    
}

.loading{
    margin : 60px;
    color : blue;
    text-align : center;
    
}

.noResultText{
    margin : 40px;
    color : blue;
    text-align : center;
}

.blueText{
    margin : 10px;
    color : blue;
    text-align : center;
}

div.adBanner{
    text-align: center;
    width : 95%;
    margin-left:auto; 
    margin-right:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.companyColumn{
    width: 110px;
}

.Toremar{
    background: url("./img/toremarLogo.gif") no-repeat;
    background-size : contain;
    background-position: center center;
}

tr.Toremar{
    background: #F5A9A9;
}

td.nextDay{
    font-weight: bold;
}


.Moby{
    background: url("./img/mobyLogo.gif") no-repeat;
    background-size : contain;
    background-position: center center;
    
}

tr.Moby{
    background: #A9E2F3;
    
}

.BluNavy{
    background: url("./img/blunavyLogo.gif") no-repeat;
    background-size : contain;
    background-position: center center;
}

tr.BluNavy{
    background: #33CCFF;
    
}

.ElbaFerries{
    background: url("./img/elbaferriesLogo.gif") no-repeat;
    background-size : contain;
    background-position: center center;
}

tr.ElbaFerries{
    background: #FFFF99;
    
}

table.main {
    width : 95%;
    text-align: center;
    margin-bottom: 10px;
    margin-left:auto; 
    margin-right:auto;
}

.twoColumnLayout {
   height: auto;
   overflow: hidden;
   
}

.leftColumn {
    width: 260px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    /* background: #aafed6; */
}

.rightColumn {
    float: none; /* not needed, just for clarification */
    /* background: #e8f6fe; */
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
    
}

h1 {
    color: blue;
}

#map {
        width: 240px;
        height: 240px;
        background-color: #CCC;
      }
      
.paypalButton{
    text-align : center;
    margin-top : 30px ;
    margin-bottom : 10px;
}      
