/* http://www.toremar.it/mds/www/images/toremar/logo-moby.png
http://www.toremar.it/mds/www/images/toremar/logo-toremar.png 
http://www.traghettiweb.it/logo/cferries.gif
http://www.traghetti-elba.it/images/compagnie/blu-navy.jpg /*


/*
https://secure.traghettitalia.it/traghetti/images/loghi_compagnie_result/1.gif moby
https://secure.traghettitalia.it/traghetti/images/loghi_compagnie_result/2.gif toremar
https://secure.traghettitalia.it/traghetti/images/loghi_compagnie_result/3.gif blu-navy
https://secure.traghettitalia.it/traghetti/images/loghi_compagnie_result/4.gif elba ferries
*/